<ion-header>
  <ion-toolbar>
    <ion-title>
      Todas
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="refresh()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let s of solicitudes.todas">
      <div>

        <p>
          <!-- <ion-icon slot="icon-only" name="contacts" color="dark"></ion-icon> -->
          {{s.id}}<br>
          <b>{{s.nombreCliente}} {{s.apellidoCliente}}</b><br>
          {{s.tipoIdentificacion}} {{s.identificacion}}<br>
          {{s.caja}}<br>
          {{s.fechaControl}}
        </p>

      </div>

      <ion-button fill="clear" (click)="tomar(s)" *ngIf="show" slot="end">
        <ion-icon slot="icon-only" name="star" color="dark"></ion-icon>
      </ion-button>

    </ion-item>

  </ion-list>


</ion-content>